/**********  Product-Section CSS Code Starts  **********/
.product-section {
	padding-left:15px;
	padding-right:15px;
	margin-bottom:20px;
}
.product-img {
	width:auto;
	height:270px;
}
.product-img-center {
	text-align:center;
}
.product-border {
	border: 1px solid #d1d1d1;
	padding:20px;
}
.product-name a {
	color: #232b33;
	text-decoration: none;
	font-size: 17px;
	font-family Roboto, sans-serif, arial;
}
.product-rating {
	color: #FFC315;
	font-size: 14px;
	padding-top: 6px;
}
.product-rating span {
	font-weight: 600;
	color: #3c3b3b8c;
	font-size: 12px;
	font-family Roboto, sans-serif, arial;
}
.product-discounted-price {
	color: #333;
	font-size: 18px;
	letter-spacing: 0.1px;
	font-weight: 600;
	font-family Roboto, sans-serif, arial;
}
.product-original-price {
	color: #6f6f6f;
	text-decoration: line-through;
	font-size:14px;
	font-family "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.product-discount {
	border: 1px solid #ccc;
	background: #fff;
	display: inline-block;
	font-size: 10px;
	color: #999;
	padding: 5px;
	border-radius: 1px;
	float:right;
}
.product-price {
	margin-top:15px;
}
/**********   Product-Section CSS Code Ends  **********/

/* .button:hover {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
} */

.button1{
    background-color: white;
    color: black;
    border:2px solid #04aa6d;
    align-items: center;
}
.button1:hover{
    background-color: #04aa6d;
    color:white;
    
}
.button2{
    background-color: white;
    color: black;
    border:2px solid #04aa6d;
    align-items: center;
}
.button2:hover{
    background-color: #04aa6d;
    color:white;
    
}
.button3{
    background-color: white;
    color: black;
    border:2px solid #04aa6d;
    align-items: center;
}
.button3:hover{
    background-color: #04aa6d;
    color:white;
    
}
.button4{
    background-color: white;
    color: black;
    border:2px solid #04aa6d;
    align-items: center;
}
.button4:hover{
    background-color: #04aa6d;
    color:white;
    
}
.button5{
    background-color: white;
    color: black;
    border:2px solid #04aa6d;
    align-items: center;
}
.button5:hover{
    background-color: #04aa6d;
    color:white;
    
}
.button6{
    background-color: white;
    color: black;
    border:2px solid #04aa6d;
    align-items: center;
}
.button6:hover{
    background-color: #04aa6d;
    color:white;
    
}
.button7{
    background-color: white;
    color: black;
    border:2px solid #04aa6d;
    align-items: center;
}
.button7:hover{
    background-color: #04aa6d;
    color:white;
    
}
.button8{
    background-color: white;
    color: black;
    border:2px solid #04aa6d;
    align-items: center;
}
.button8:hover{
    background-color: #04aa6d;
    color:white;
    
}
.button9{
    background-color: white;
    color: black;
    border:2px solid #04aa6d;
    align-items: center;
}
.button9:hover{
    background-color: #04aa6d;
    color:white;
    
}
.button10{
    background-color: white;
    color: black;
    border:2px solid #04aa6d;
    align-items: center;
}
.button10:hover{
    background-color: #04aa6d;
    color:white;
    
}